@{
    ViewBag.Title = "Home";
}

<!-- Index Page? -->
<!-- Carousel Start -->
@*<div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="img/carousel-1.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h1 class="display-2 text-white animated slideInDown mb-4">The Best Kindergarten School For Your Child</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p>
                                <a href="" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">Learn More</a>
                                <a href="" class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">Our Classes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="img/carousel-2.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h1 class="display-2 text-white animated slideInDown mb-4">Make A Brighter Future For Your Child</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p>
                                <a href="" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">Learn More</a>
                                <a href="" class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">Our Classes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- Carousel End -->
<!-- INDEX -->
<!-- Facilities Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Kinder S.A.T.</h1>
            <p>Welcome to the Kinder Scheduling Assistant Tool. This application is designed to manage Students, Student Statuses, Courses, Scheduled Courses, and Enrollments. Depending on your access level, you may be able to view, create, update, or remove these items.</p>
        </div>
        <div class="text-left mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p>This application uses:</p>
            <ul>
                <li>HTML and CSS for Structure and Style</li>
                <li>Javascript for front-end logic</li>
                <li>MSSQL Server data structure to manage and persist the data</li>
                <li>Identity Framework to manage Users/Roles</li>
                <li>Model-View-Controller (MVC) design pattern architecture to manage the building of the site</li>
            </ul>
        </div>
    </div>
</div>

<div class="container-xxl text-left">
    <div class="container">
        <div class="text-left mx-auto mb-5 wow fadeInLeft" data-wow-delay="0.3s" style="max-width: 600px;">
            <h1>Who Can Use This Application?</h1>


        </div>
    </div>
</div>


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h2 class="mb-4">The following roles will be used in this application:</h2>
                <ul>
                    <li>Scheduling</li>
                    <li>Admin (Administrators)</li>
                </ul>

            </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <h2 class="mb-4"><strong>Anonymous</strong> users will be able to view the following information:</h2>
            <ul>
                <li>Base Pages (home, contact)</li>
            </ul>
            @*<div class="row g-4 align-items-center">
                <div class="col-sm-6">
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="">Read More</a>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 45px; height: 45px;">
                        <div class="ms-3">
                            <h6 class="text-primary mb-1">Jhon Doe</h6>
                            <small>CEO & Founder</small>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>
