<?xml version="1.0" encoding="utf-8" ?>

<!--This file and it's information are required for our Contact Form to function.-->
<appSettings>
  <!--Added to protect sensitive data-->
  <add key="EmailClient" value="mail.buckthedev.com"/>
  
  <!--Email user on your host-->
  <add key="EmailUser" value="admin@buckthedev.com"/>

  <add key="EmailPass" value="Llamasarefunny1!"/>

  <add key="EmailTo" value="brandonbuck96@gmail.com"/>

  <add key="EmailClient" value="mail.cmcdtech.com"/>

  <add key="EmailUser" value="admin@cmcdtech.com"/>

  <add key="EmailPass" value="Team1rupp!"/>

  <add key="EmailTo" value="cmcd2654@gmail.com"/>
</appSettings>
