<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-12SATProject-20220824082204.mdf;Initial Catalog=aspnet-12SATProject-20220824082204;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>